scipy==1.0.0
bioservices==1.4.17
matplotlib==2.1.0
pycotools==0.0.90
psutil==5.2.2
PyLaTeX==1.2.1
tellurium==2.0.13
six==1.11.0
setuptools==36.0.1
pandas==0.21.1
pathlib2==2.3.0
numpy==1.13.3
lxml==4.2.1
seaborn==0.8.1
scikit_learn==0.19.1
nbsphinx
psutil
