antimony==2.9.4
appdirs==1.4.3
atomicwrites==1.3.0
attrs==18.2.0
backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
decorator==4.3.2
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
libroadrunner==1.5.3
lxml==4.3.1
MarkupSafe==1.1.0
matplotlib==3.0.2
more-itertools==5.0.0
nbformat==4.4.0
nose==1.3.7
numpy==1.16.1
pandas==0.24.1
parso==0.3.3
pexpect==4.6.0
phrasedml==1.0.9
pickleshare==0.7.5
plotly==3.6.1
pluggy==0.8.1
prompt-toolkit==2.0.8
psutil==5.5.0
ptyprocess==0.6.0
py==1.7.0
pycotools3==1.0.13
Pygments==2.3.1
pyparsing==2.3.1
pytest==4.2.0
python-dateutil==2.8.0
pytz==2018.9
pyyaml==3.13
pyzmq==17.1.2
requests==2.21.0
retrying==1.3.3
rrplugins==1.2.0
sbml2matlab==0.9.1
scikit-learn==0.20.2
scipy==1.2.1
seaborn==0.9.0
six==1.12.0
sklearn==0.0
tecombine==0.2.2.1
tellurium==2.1.5
tenuml==1.1.1
tesbml==5.15.0.1
tesedml==0.4.3
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
